@import './base.css';

#app {
  margin: 0;
  font-weight: normal;
  background-color: #FBFBFB;
  height: 100vh;
}

.router-link-active,
.router-link-active > svg {
  @apply text-[#42b983] stroke-black/60;
}

.router-link-exact-active,
.router-link-exact-active > svg {
  @apply text-black font-semibold stroke-black;
}
